<div class="column is-full has-text-right">
<div class="talk-bubble tri-right round btm-right-in">
  <div class="talktext">
    <% if(message.ViaEb && message.receiver.user_type != 1 && message.sender.user_type != 1){ %>
      <i>via eb</i>
      <p>From: <b><%= message.sender.username %></b><br></p>
      <p>To: <b><%= message.receiver.username %></b><br></p>
      <hr>
    <% } %>
   
    <p><%= message.content %></p>
  </div>
</div>
</div>
