<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passport.Js Authentication</title>
  <% include partials/scripts.ejs %>
</head>

<body>
  <div class="jumbotron jumbotron-fluid primary white">
    <div class="container text-center">
      <h1 class="display-2">
        Passport.Js Authentication
      </h1>
      <a class="btn secondary white btn-lg" href="/login">LOGIN</a>
      <a class="btn secondary white btn-lg" href="/signup">SIGNUP</a>
    </div>
  </div>
</body>

</html>