<!DOCTYPE html>
<html>

<head>
  <!--FAVICONS-->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= event.event_name %></title>
  <!--css/dependencies-->
  <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">

  <!--js/dependencies-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/login.js"></script>
</head>

<body>
  <div id="main" class="columns is-multiline is-centered is-vcentered">
    <div class="column is-half is-hidden-mobile is-centered is-vcentered">
      <img id="council-image" src="<%= council.council_logo_url %>">
    </div>
    <div id="login-form" class="column is-half">
      <img id="event-logo" src="<%= event.event_logo_url %>">
      <div class="field">
        <div class="control">

          <div id="error_message"></div>

          <input class="input" type="text" id="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
          <input class="input" type="password" id="password" placeholder="Password" onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Password'">

          <div style="text-align:center">
            <button class="button" id="login_button">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>