<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <% include partials/scripts.ejs %>
</head>

<body>
    <div class="jumbotron jumbotron-fluid primary white">
        <div class="container text-center">
            <h1 class="display-4">
                Login
            </h1>
        </div>
    </div>

    <div class="container">
        <form action="/login" class="col-md-5" method="post" id="login_form">
            <div class="form-group">
                <label for="">Username :</label>
                <input autofocus class="form-control" type="text" name="username">
            </div>
            <div class="form-group">
                <label for="">Password : </label>
                <input class="form-control" type="password" name="password">
            </div>
            <input type="submit" value="Submit" class="btn secondary white">
            <a href="/signup" class="btn btn-link">Signup</a>
        </form>
    </div>
</body>

</html>