<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VITCMUN 19: E-Chit</title>
  <link rel="stylesheet" href="/css/all.css">
  <!-- Bulma Version 0.7.2-->
  <link rel="stylesheet" href="/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/inbox.css">
  <link rel="stylesheet" type="text/css" href="/css/chatbubbles.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/inbox.js"></script>
  <script>

      $(window).on('load',function() {
        PAGE = 1
        $("html, body").animate(
          { scrollTop: $(document).height()-$(window).height() }
          ,10 , ()=>{
            $("#page_arrow").unbind('click').click( ()=>{
              get_messages()
              PAGE++
            })
        });
       });

     

       function get_messages(){
          var xmessages = new XMLHttpRequest()
          xmessages.onload = function(){
            if(xmessages.readyState == XMLHttpRequest.DONE){
              if(xmessages.status === 200){
                var dummy = document.createElement('html')
                dummy.innerHTML = xmessages.responseText;
                var data = dummy.getElementsByClassName("message-screen")[0].innerHTML 
                if(data.trim() != ""){
                  $(".message-screen").prepend(data)
                }  
              }else{
                //console.log(xmessages.responseText)
              }
            }
          }
          xmessages.open("GET",`/threads?from_user=<%= from_user %>&page=${PAGE}`,true)
          xmessages.send()
      }

  </script>
  <style>
      html {
        height: 100%;
    }
      body {
        min-height: 100%;
    }
  </style>
<body class="scrollbar">
    <div class="headerchat">
        <div class="columns is-multiline">
              <div id="page_arrow" class="column is-full has-text-centered">
                  <i class="fas fa-chevron-up" style="color: white"></i>
              </div>
               <div class="message-screen column is-full mesg-body">
                <% for(var i = (messages.length-1); i>=0; i-- ){ %>    
                        <% if(messages[i].sender.username == from_user){ %>
                          <%- include('partials/receive-chat', {message: messages[i]}) %>  
                        <% }else{ %>
                         <%-  include('partials/send-chat', {message: messages[i]})  %>  
                       <% } %>
                   <% } %> 
                 </div>
            </div>
        </div>
    </div>
</body>