<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VITCMUN 19: E-Chit</title>
  <link rel="stylesheet" href="/css/all.css">
  <!-- Bulma Version 0.7.2-->
  <link rel="stylesheet" href="/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/inbox.css">
  <link rel="stylesheet" type="text/css" href="/css/chatbubbles.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/inbox.js"></script>
  <script>
      $(window).on('load',function() {
        $("html, body").animate(
          { scrollTop: $(document).height()-$(window).height() }
          ,10 , ()=>{
            $(window).on("scroll", ()=>{
             // console.log(document.scrollingElement.scrollTop);  
              get_messages()
            })
        });
       });

       function get_messages(){    
        var vscroll = document.scrollingElement.scrollTop;  
        if(vscroll==0){
          var xmessages = new XMLHttpRequest()
          xmessages.onload = function(){
            if(xmessages.readyState == XMLHttpRequest.DONE){
              if(xmessages.status === 200){
                var dummy = document.createElement('html')
                dummy.innerHTML = xmessages.responseText;
                var data = dummy.getElementsByClassName("message-screen")[0].innerHTML
               // console.log(data);
               // console.log(`/threads?from_user=<%= from_user %>&page=1`);
                
                $(".message-screen").prepend(data)
              }else{
                console.log("Error")
              }
            }
          }
          xmessages.open("GET",`/threads?from_user=<%= from_user %>&page=1`,true)
          xmessages.send()
        }
      }
  </script>
  <style>
      html {
        height: 100%;
    }
      body {
        min-height: 100%;
    }
  </style>
<body class="scrollbar">
    <div class="headerchat">
        <div class="columns is-multiline">
               <div class="message-screen column is-full mesg-body">
                <% for(var i = (messages.length-1); i>=0; i-- ){ %>    
                        <% if(messages[i].sender.username == from_user){ %>
                          <%- include('partials/receive-chat', {message: messages[i]}) %>  
                        <% }else{ %>
                         <%-  include('partials/send-chat', {message: messages[i]})  %>  
                       <% } %>
                   <% } %> 
                 </div>
            </div>
        </div>
    </div>
</body>