<div class="headerchat">
    <div class="card-content">
        <div class="columns">
            <div class="column is-1">
                <input class="star" type="checkbox" title="bookmark page" checked>
            </div>
            <div class="column is-1">
                <span class="msg-from">
                    <img src="../media/flag/USA.png" alt="USA" width="44px" height="44px" style="border-radius:75%">
                </span>
            </div>
            <div class="column is-9">
                <div class="mesg-header">
                    <span class="mesg-header">
                        <h1>USA</h1>
                    </span>
                </div>
                <div class="msg-subject">
                    <span class="msg-subject">
                        <small id="subject-0" style="color:antiquewhite"><%= messages[0].content %></small>
                    </span>
                </div>
            </div>
            <div class="column is-1">
                <span class="msg-timestamp" style="color:antiquewhite">12:34</span>
            </div>
        </div>
    </div>
</div>
<a class="button gold-button is-bold">
    <span class="compose">
        <strong>
            REPLY
        </strong>
    </span>
</a>
