<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VITCMUN 19: E-Chit</title>
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <!-- Bulma Version 0.7.2-->
  <link rel="stylesheet" href="/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/inbox.css">
  <link rel="stylesheet" type="text/css" href="/css/chatbubbles.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/inbox.js"></script>
<body class="scrollbar">
<div class="columns">
    <div class="column is-full inbox-messages is-dark">
        <% for(var i=0; i<messages.length; i++) {%>
            <%- include('partials/thread', {message: messages[i], user: user}); %>
        <% } %>
    </div>
</div>
</body>

</html>